*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Non-hardcoded files
/scripts/output
/scripts/*.html
/scripts/*.txt
/app/src/main/assets/*.html
!/app/src/main/assets/_*.html
/app/src/main/assets/fonts/*.ttf
/app/src/main/res/raw/*.sql