@font-face {
    font-family: 'OxygenMono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxygenmono-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfairdisplay-regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-size: 100%;
    font-family: 'Raleway';
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PlayfairDisplay', sans-serif;
    margin: 0px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-family: 'PlayfairDisplay', sans-serif;
    margin: 0px;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 140%;
}


code, pre, samp, var {
	font-family: 'OxygenMono', monospace;
}

a:link {
    color: #0055FF;
    text-decoration: none;
}

a:visited {
    color: #0088FF;
}

a:active {
    text-decoration: underline;
}