h1, h2, h3, h4, h5, h6 {
    font-size: xx-large;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: xx-large;
}

code, samp, var {
    font-size: medium;
}

pre {
    font-size: medium;
}

p {
    font-size: large;
}